nav.main-menu {
	background-color: rgba(221, 221, 221, 1);
	padding: 7px;
	border-radius: 11px;
}

nav.main-menu ul {
	list-style: none;
}

nav.main-menu ul li {
	display: inline-block;
}

td.red {
	color: red;
}

#ActionAddForm, #AccountAddForm,
#ActionEditForm, #AccountEditForm {
	max-width: 200px;
}

table.cake-sql-log {
	background-color: #fdfdfd;
	border: 1px solid #e7e7e7;
	border-radius: 10px;
}